.map {
  display: table;
  border-radius: 10px;
}

.row {
  display: table-row;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: white;
  display: table-cell;
  border: 1px solid black;
  color: black;
}

.liveCell {
  background-color: blue;
}

.deadCell {
  background-color: white;
}

.editable {
  cursor: pointer;
}

.nonEditable {
  cursor: default;
}
